.bgr {
  background-color: red;
}

@font-face {
  font-family: roobert;
  src: url(https://static1.squarespace.com/static/61805088a13441018ea5ff98/t/6290c9c83b09d5791eaabc09/1653656008106/Roobert-Regular.otf);
}

html {
  font-family: roobert;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.cursor {
  position: fixed;
  background-color: white;
  height: 1.05vh;
  width: 1.05vh;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  transition: width 0.5s, height 0.5s;
}

.cursor-shadow {
  position: fixed;
  background-color: black;
  height: 1.7vh;
  width: 1.7vh;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
  transform: translateX(-50%) translateY(-50%);
  transition: width 0.5s, height 0.5s;
}

.cursor.cursor-active {
  mix-blend-mode: difference;
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.cursor-shadow.cursor-active {
  mix-blend-mode: difference;
  background-color: red;
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background-color: black;
}

.con-min-width {
  min-width: 1200px;
}

.con {
  width: 100%;
}

.page {
  height: calc(100vh - 5vh);
  border-radius: 5vh;
  background-color: white;
  padding-top: 5vh;
}

.line {
  margin-left: 6vh;
}

.ab {
  position: absolute;
}

/* 페이지 1 시작 */

.page-1 > .line > * {
  display: inline-block;
}

.page-1 > .line > header {
  font-size: 8vh;
  font-weight: bold;
}

.page-1 > .line-1 {
  letter-spacing: -3vh;
}

.page-1 > .line-1 > .empty {
  letter-spacing: -0.2vh;
}

.page-1 > .line-1 > .line1__header-1,
.page-1 > .line-1 > .line1__header-2 {
  letter-spacing: -0.1vh;
}

.page-1 > .line-3 {
  letter-spacing: -0.6vh;
}

.page-1 > .line-3 > .line3__header-2 {
  letter-spacing: 0;
}

.page-1 > .line-4 {
  position: absolute;
  height: 6vh;
  bottom: 10vh;
  left: 0;
  right: 5vw;
}

.page-1 > .line-1 > .line1__header-1:hover {
  background-color: black;
  color: white;
}

.page-1 > .line-1 > .line1__header-2:hover {
  background-color: black;
  color: white;
}

.page-1 > .line-2 > .line2__header-1:hover {
  background-color: black;
  color: white;
}

.page-1 > .line-3 > .line3__header-1:hover {
  background-color: black;
  color: white;
}

.page-1 > .line-3 > .line3__header-2:hover {
  background-color: black;
  color: white;
}

.page1__btn-box-1 {
  position: absolute;
  height: 6vh;
  width: 10vh;
}

.page1__btn-box-1 > i {
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  font-size: 6vh;
  position: absolute;
  transition: top 0.2s;
}

.page1__btn-box-1:hover > i {
  font-size: 6.1vh;
  top: 55%;
}

.page-1 > .line-4 > span:nth-child(2) {
  font-size: 3vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

.page-1 > .line-4 > span:nth-child(2) > .page1__tb2 {
  font-weight: bold;
}

.page-1 > .line-4 > span > .page1__tb2:hover {
  background-color: black;
  color: white;
}

.page-1 > .line-4 > span:nth-child(2) > * {
  display: inline-block;
}

.page-1 > .line-4 > span:nth-child(4) > {
  font-size: 5vh;
  position: absolute;
  right: 0;
  bottom: 8vh;
}

.page-1 > .line-4 > span:nth-child(4) > i {
  scale: 0.9;
}

.page-1 > .line-4 > span:nth-child(3) {
  font-size: 5vh;
  position: absolute;
  right: 33vh;
  bottom: 8vh;
}

.page-1 > .line-4 > span:nth-child(4) {
  font-size: 5vh;
  position: absolute;
  right: 26vh;
  bottom: 7.645vh;
}

.page-1 > .line-4 > span:nth-child(3) > .itb {
  position: absolute;
  font-size: 2vh;
  background: black;
  color: white;
  border-radius: 3vh;
  top: 6.1vh;
  padding: 1vh 2.5vh;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s, opacity 0.4s;
}

.page-1 > .line-4 > span:nth-child(3):hover > .itb {
  opacity: 1;
  visibility: visible;
  top: 5.6vh;
  transition: top 0.3s, opacity 0.4s;
}

.page-1 > .line-4 > span:nth-child(3) > .itb:hover > {
  opacity: 1;
  visibility: visible;
}

.page-1 > .line-4 > span:nth-child(4) > .itb {
  position: absolute;
  font-size: 2vh;
  background: black;
  color: white;
  border-radius: 3vh;
  top: 5.75vh;
  left: -6.3vh;
  padding: 1vh 2.5vh;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s, opacity 0.4s;
}

.page-1 > .line-4 > span:nth-child(4):hover > .itb {
  opacity: 1;
  visibility: visible;
  top: 5.25vh;
  transition: top 0.3s, opacity 0.4s;
}

.page-1 > .line-4 > span:nth-child(4) > .itb:hover > {
  opacity: 1;
  visibility: visible;
}

/* 페이지 1 끝 페이지 2 시작*/
.page-2 {
  background-color: #ff7f86;
  font-size: 8vh;
  color: red;
  font-weight: bold;
  position: relative;
  padding-right: 5vh;
}

.page-2 > .line-2 > {
  position: absolute;
}

.page-2 > .line-2 > .line2__header-1 {
  color: red;
  font-size: 3vh;
  position: absolute;
  line-height: 5vh;
  left: 15vh;
  bottom: 17vh;
}

.page2__btn-box-1 {
  position: absolute;
  height: 6vh;
  width: 8vh;
  bottom: 17vh;
  right: 10%;
}

.page2__btn-box-1 > i {
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  font-size: 6vh;
  position: absolute;
  transition: top 0.2s;
  color: red;
}

.page2__btn-box-1:hover > i {
  font-size: 6.1vh;
  top: 55%;
}

@media (max-width: 2000px) {
  .page-2 > .line-2 > .line2__header-1 {
    font-size: 2.7vh;
  }
}

@media (max-width: 1600px) {
  .page-2 {
    padding-right: 42vh;
  }
  .page-2 > .line-2 > .line2__header-1 {
    font-size: 2.5vh;
    left: 15vh;
    line-height: 4.5vh;
    bottom: 17vh;
  }
  .page2__btn-box-1 {
    bottom: 17vh;
  }
}

@media (max-width: 1450px) {
  .page-2 {
    padding-right: 30vh;
  }
  .page-2 > .line-2 > .line2__header-1 {
    font-size: 2.4vh;
    left: 12.5vh;
    line-height: 4vh;
    bottom: 18vh;
  }
  .page2__btn-box-1 {
    bottom: 18vh;
  }
}

@media (max-width: 1300px) {
  .page-2 {
    padding-right: 30vh;
  }
  .page-2 > .line-2 > .line2__header-1 {
    font-size: 2.4vh;
    left: 10vh;
    line-height: 4vh;
    bottom: 19vh;
  }
  .page2__btn-box-1 {
    bottom: 19vh;
  }
}

/*페이지 2 끝 페이지 3 시작*/
.page-3 {
  position: relative;
}

.cdb {
  width: 50vh;
  height: 10vh;
  border: 2px solid black;
  border-radius: 30vh;
  overflow: hidden;
  top: 45vh;
  left: 73vh;
  transform: translatex(-50%) translatey(-50%);
}

.ftb {
  width: 100%;
  text-align: center;
  left: 25vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 300;
  font-size: 4vh;
  transition: top 0.25s;
}

.yellow {
  width: 50vh;
  height: 90vh;
  background-color: yellow;
  left: 25vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
}

.black {
  width: 80vh;
  height: 30vh;
  border-radius: 120%;
  left: 25vh;
  top: 60vh;
  background-color: black;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
  transition: opacity 0.5s, top 1s;
}

.ltb {
  width: 100%;
  text-align: center;
  left: 25vh;
  top: 8vh;
  transform: translatex(-50%) translatey(-50%);
  font-size: 4vh;
  z-index: 500;
  opacity: 0;
  color: yellow;
}

.bb {
  width: 50vh;
  height: 30vh;
  background-color: black;
  left: 25vh;
  top: -15vh;
  z-index: 400;
  transform: translatex(-50%) translatey(-50%);
}

.page-3 > .line-1 > .line1__header-1 > .cdb:hover > .ftb {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-1 > .line1__header-1 > .cdb:hover > .ybb > .yellow {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-1 > .line1__header-1 > .cdb:hover > .ybb > .black {
  top: 21.5vh;
  transition: 1s;
}

.page-3 > .line-1 > .line1__header-1 > .cdb:hover > .ltb {
  opacity: 1;
  top: 5vh;
  transition: 0.2s;
}

.page-3 > .line-1 > .line1__header-1 > .cdb:hover > .bb {
  top: 5vh;
  transition: 0.3s;
}

/*두번째 버튼*/

.page-3 > .line-2 > .line2__header-1 > .cdb {
  width: 15vh;
  height: 10vh;
  border: 2px solid black;
  border-radius: 30vh;
  overflow: hidden;
  top: 45vh;
  left: 108vh;
  transform: translatex(-50%) translatey(-50%);
}

.page-3 > .line-2 > .line2__header-1 > .cdb > .ftb {
  width: 100%;
  text-align: center;
  left: 7.5vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 300;
  font-size: 4vh;
  transition: top 0.25s;
}

.page-3 > .line-2 .yellow {
  width: 15vh;
  height: 90vh;
  background-color: yellow;
  left: 7.5vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
}

.page-3 > .line-2 .black {
  width: 80vh;
  height: 30vh;
  border-radius: 120%;
  left: 7.5vh;
  top: 60vh;
  background-color: black;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
  transition: opacity 0.5s, top 1s;
}

.page-3 > .line-2 .ltb {
  width: 100%;
  text-align: center;
  left: 7.5vh;
  top: 8vh;
  transform: translatex(-50%) translatey(-50%);
  font-size: 4vh;
  z-index: 500;
  opacity: 0;
  color: yellow;
}

.page-3 > .line-2 .bb {
  width: 15vh;
  height: 30vh;
  background-color: black;
  left: 7.5vh;
  top: -15vh;
  z-index: 400;
  transform: translatex(-50%) translatey(-50%);
}

.page-3 > .line-2 > .line2__header-1 > .cdb:hover > .ftb {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-2 > .line2__header-1 > .cdb:hover > .ybb > .yellow {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-2 > .line2__header-1 > .cdb:hover > .ybb > .black {
  top: 21.5vh;
  transition: 1s;
}

.page-3 > .line-2 > .line2__header-1 > .cdb:hover > .ltb {
  opacity: 1;
  top: 5vh;
  transition: 0.2s;
}

.page-3 > .line-2 > .line2__header-1 > .cdb:hover > .bb {
  top: 5vh;
  transition: 0.3s;
}

/*세번째 버튼*/

.page-3 > .line-2-3 > .line2__header-1 > .cdb {
  width: 15vh;
  height: 10vh;
  border: 2px solid black;
  border-radius: 30vh;
  overflow: hidden;
  top: 45vh;
  left: 125.5vh;
  transform: translatex(-50%) translatey(-50%);
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb > .ftb {
  width: 100%;
  text-align: center;
  left: 7.5vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 300;
  font-size: 4vh;
  transition: top 0.25s;
}

.page-3 > .line-2-3 .yellow {
  width: 15vh;
  height: 90vh;
  background-color: yellow;
  left: 7.5vh;
  top: 5vh;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
}

.page-3 > .line-2-3 .black {
  width: 80vh;
  height: 30vh;
  border-radius: 120%;
  left: 7.5vh;
  top: 60vh;
  background-color: black;
  transform: translatex(-50%) translatey(-50%);
  z-index: 100;
  transition: opacity 0.5s, top 1s;
}

.page-3 > .line-2-3 .ltb {
  width: 100%;
  text-align: center;
  left: 7.5vh;
  top: 8vh;
  transform: translatex(-50%) translatey(-50%);
  font-size: 4vh;
  z-index: 500;
  opacity: 0;
  color: yellow;
}

.page-3 > .line-2-3-3 .bb {
  width: 15vh;
  height: 30vh;
  background-color: black;
  left: 7.5vh;
  top: -15vh;
  z-index: 400;
  transform: translatex(-50%) translatey(-50%);
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb:hover > .ftb {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb:hover > .ybb > .yellow {
  top: -15vh;
  transition: 0.8s;
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb:hover > .ybb > .black {
  top: 21.5vh;
  transition: 1s;
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb:hover > .ltb {
  opacity: 1;
  top: 5vh;
  transition: 0.2s;
}

.page-3 > .line-2-3 > .line2__header-1 > .cdb:hover > .bb {
  top: 5vh;
  transition: 0.3s;
}

.page3__btn-box-1 {
  position: absolute;
  height: 6vh;
  width: 8vh;
  bottom: 12vh;
}

.page3__btn-box-1 > i {
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  font-size: 6vh;
  position: absolute;
  transition: top 0.2s;
}

.page3__btn-box-1:hover > i {
  font-size: 6.1vh;
  top: 55%;
}

@media (max-width: 2400px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 70vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 105vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 122.5vh;
  }
}

@media (max-width: 2000px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 52.5vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 87.5vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 105vh;
  }
}

@media (max-width: 1700px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 45vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 80vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 97.5vh;
  }
}

@media (max-width: 1550px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 38vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 73vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 90.5vh;
  }
}

@media (max-width: 1425px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 33vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 68vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 85.5vh;
  }
}

@media (max-width: 1300px) {
  .page-3 > .line-1 > .line1__header-1 > .cdb {
    left: 29vh;
  }

  .page-3 > .line-2 > .line2__header-1 > .cdb {
    left: 64vh;
  }

  .page-3 > .line-2-3 > .line2__header-1 > .cdb {
    left: 81.5vh;
  }
}

/*3페이지 끝 4페이지 시작*/
