


/*기본*/
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color:black;
}

a {
  text-decoration: none;
  color: inherit;
}

/*폰트*/
@font-face {
  font-family: roobert;
  src: url(https://static1.squarespace.com/static/61805088a13441018ea5ff98/t/6290c9c83b09d5791eaabc09/1653656008106/Roobert-Regular.otf);
}

html {
  font-family: roobert;
}
/*폰트*/

/*기본*/

/*일괄 적용*/

.page {
  height: calc(100vh - 50px);
  background-color: #F8EDFF;
  border-radius: 6% / 6% ;
  padding-top:50px;
  padding-left:40px;
}
/*일괄 적용*/

/*페이지 커스텀*/
/*페이지 1*/
.page-1 > .line {
  font-family: "roobert";
  font-weight: 300;
  font-style: sans-serif;
  font-size: 2rem;
  color:#525CEB;
  letter-spacing:-3px;
  margin-bottom:-1px;
}

.page-1 > .line > * { 
display:inline-block;
}

.page-1 {
  z-index:-1;
}

.line-4 > * {
  font-size:2rem;
}


/*페이지 1*/

/*페이지 2*/
.page-2 {
  z-index:2;
}

.page-2 {
  background-color:#FDFFAB;
}

h1 {
  position: absolute;
  margin-top: 30vh;
  width: 100%;
  font-size: 111%;
  font-family: sans-serif;
  color: #FFB996;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}


/*페이지 2*/
/*페이지 커스텀*/

